@charset "UTF-8";
*{
    padding: 0;
    margin: 0;

}
body,html{
    width: 100%;
    height: 100%;
    /*background: url("../imgs/bg2.jpg");*/
    /*background-size: cover;*/
}
.background{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    background-color: rgba(66,66,66,0.5);
}
.background #login{
    width: 520px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 55px 0 0 -260px;
    text-align: center;
    padding: 30px 0 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
    border-radius: 6px;


}
#login .logo{
    width: 106px;
    height: 35px;
    display: block;
    margin: 0 auto;

}
.holder {
    width: 286px;
    height: 302px;
    margin: 0 auto;
    position: relative;
}
.holder .text{
    width: 286px;
    height: 21px;
    font-size: 16px;
    color: #731f17;
    margin: 0 auto;
    text-shadow: 1px 1px 3px white;
    text-align: center;

}
.text .b-line{
    width: 50px;
    height: 1px;
    background-color: #c23434;

    float: left;
    margin-top: 8px;

}
.text .a-line{
    width: 50px;
    height: 1px;
    background-color: #c23434;
    float: right;
    margin-top: 8px;

}
.buttons{
    display: block;
    width: 286px;
    height: 80px;
}
.buttons a{
    margin: 15px 0 20px;
    display:inline-block;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    float: left;
}
.buttons a.weibo{
    background-image: url(../imgs/b1.png);

}
a.weibo:hover{
    background-image: url(../imgs/b6.png);
}
.buttons a.QQ{
    width: 49px;
    background-image: url(../imgs/b2.png);
}
.buttons a.QQ:hover{
    width: 49px;
    background-image: url(../imgs/b7.png);
}
.buttons a.wechat{
    background-image: url(../imgs/b3.png);
}
.buttons a.wechat:hover{
    background-image: url(../imgs/b8.png);
}
.buttons a.douban{
    width: 49px;
     background-image: url(../imgs/b4.png);
 }
.buttons a.douban:hover{
    background-image: url(../imgs/b9.png);
}
.buttons a.renren{
    width: 49px;
    background-image: url(../imgs/b5.png);
}
.buttons a.renren:hover{
    width: 49px;
    background-image: url(../imgs/b10.png);
}
form{
    display: block;
    margin-top: 15px;
}
.tel-login{
    margin-top: 15px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    resize: none;
    outline: 0;
}
.tel-login input{
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    padding: 0 10px;
    height: 36px;
    font-size: 16px;
    line-height: 1;
    color: #777;
    background: #FCFCFC;
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 250px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.05);

}
.tellogin{
    margin-bottom:10px;
}
.btn1{
    margin-top: 10px;;
    display: block;
    cursor: pointer;
    font-size: 18px;
    padding: 0 15px;
    border-radius: 3px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #ec414d;
    background: #ec414d;

    color: #fff;
    text-decoration:none;
}
.reset{
    font-size: 14px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    color: #9A0000;
    text-shadow: 1px 1px 3px white;
    text-decoration: none;
    outline: 0;
    z-index: 999;


}
.back{
    position: absolute;
    text-align: right;
    left: 0;
    bottom: 0;
    font-size: 14px;
    display: block;
    width: 286px;
    height: 19px;
    text-shadow: 1px 1px 3px white;
}
.signup{
    color: #9A0000;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    text-shadow: 1px 1px 3px white;

}
#login .close{
    height: 18px;
    width: 20px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}